if you're not using google colab then :

Download/Import this following requirements before run the .ipynb

# Instal pandas
pip install pandas

# Instal numpy
pip install numpy

# Instal matplotlib
pip install matplotlib

# Instal seaborn
pip install seaborn

# Instal scikit-learn
pip install scikit-learn
